body {
    background-color: rgb(255, 248, 238);
    font-family: Verdana,  'Courier New', Courier, monospace, Geneva, Tahoma, sans-serif;
}
h1 {
    font-family: Verdana;
    font-size: medium;
    text-align: center;
}
h2 {
    font-family: Verdana;
    font-size: small;
    text-align: center;
}
#fileInput {
    margin:20px;
    background-color: brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input::file-selector-button{
    background-color: brown;
}
button {
    background-color: brown;
}