body {
  font-family: Verdana, Geneva, Tahoma, sans-serif ;
  background-color: ivory;
  padding:0;
  margin:0;
}

#nav-head {
  height:100vh;
  width: 12rem;
  position:fixed;
  padding:20px;
  margin:0;
  top:0;
  background-color: #e5b79e;
}
#nav-head a {
  text-decoration: none;
}
#nav-head ul {
  padding: 0;
  margin: 0;
}
.nav-list {
  text-align: left;
  justify-content: left;
  list-style: none;
}
.nav-img{
  width:30px;
  height:30px;
  /* display: inline-block; */
}
section {
  margin-left:15rem;

}